upstream odoo {
        server 127.0.0.1:{{odoo_port}};
}



server {
        listen 80;
        server_name {{record_name}}.{{zone_name}};

        location / {
                proxy_pass http://odoo;
        }


}